<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/main.css">
  <title></title>
</head>

<body>
  <module href="/components/header.html"></module>
  <div class="content">
    <h2>Features</h2>
    <a name="features"></a>
    <section class="featureWrapper">
      <div class="feature">
        <h3>Slash command</h3>
        <p>
          Type <code>/movie</code> to get a list of suggestions after selecting one of the available genres
          Only visible to you, no limit on how many queries you can run.
        </p>
      </div>
      <div class="feature">
        <h3>Get more</h3>
        <p>
          Press <b>Next</b> to get more suggestions on your genre.
        </p>
      </div>
    </section>
    <h2>Pricing</h2>
    <a name="pricing"></a>
    <section class="plans">
      <div class="plan">
        <h3>Basic</h3><span class="cost">Free</span>
        <ul class="planFeatures">
          <li>Unlimited <code>/movie</code> requests</li>

        </ul>
        <div>
          <span>To support, you can</span>
          <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="aabutaleb" data-color="#FFDD00" data-emoji=""  data-font="Cookie" data-text="Buy me a coffee" data-outline-color="#000000" data-font-color="#000000" data-coffee-color="#ffffff" ></script>
        </div>
      </div>
    </section>
  </div>
  <module href="/components/footer.html"></module>
</body>

</html>
