<footer>
  <p>
    <a href="https://twitter.com"><img src="/images/twitter.svg" alt="Share Cinephile on Twitter"></a>
    <a href="https://facebook.com"><img src="/images/facebook.svg" alt="Share Cinephile on Facebook"></a>
  </p>
  <p>
      Made by <a href="https://twitter.com/amin_aat">@amin_aat</a>
  </p>
  <p>
      <a href="/projects/cinephile/privacy.html" target="_blank">Privacy</a> | <a href="/projects/cinephile/support.html" target="_blank">Support</a>
  </p>
  <p>
      Cinephile is not created by, affiliated with, or supported by Slack Technologies Inc.
  </p>
</footer>
